/* GLOBAL STYLING */
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #fff8dc;
    text-align: center;
    font-family: Optima, serif;
    font-size: 100%;
}

code {
    font-family: Times, monospace;
}

/* SECTION STYLING */
#sticky_header {
    position: fixed;
    width: 100%;
    background-color: #fff8dc;
}

#banner {
    width: 100%;
    background-color: #fa8072;
}

#banner > h1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    font-family: Times, serif;
    font-size: 2.2em;
    color: #fff8dc;
}

#navigation_bar {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid 2px #fa8072;
    font-size: 1.2em;
    color: #fa8072;
}

.navigation_link {
    margin-top: auto;
    margin-right: 1em;
    margin-bottom: auto;
    margin-left: 1em;
}

.navigation_link a:link {
    color: #fa8072;
}

.navigation_link a:hover {
    color: #6495ed;
}

#container {
    width: 100%;
}

#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#content_column {
    margin: 0 auto;
    padding-top: 9em;
    float: left;
    width: 84%
}

#images {
    color: #dc143c;
}

#how_we_met {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #fa8072;
}

table {
    display: inline-block;
    float: inherit;
    color: #dc143c;
}

tr th {
    padding-top: 0;
    padding-right: 0.12em;
    padding-bottom: 0;
    padding-left: 0.12em;
    border-right: solid 1.5px #dc143c;
    border-bottom: solid 1.5px #dc143c;
}

tr td {
    padding-top: 0;
    padding-right: 0.12em;
    padding-bottom: 0;
    padding-left: 0.12em;
    border-right: solid 1px #dc143c;
    border-bottom: solid 1px #dc143c;
}

caption {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    caption-side: bottom;
    color: #dc143c;
}

#ad_column {
    margin: 0 auto;
    float: right;
    padding-top: 9em;
    width: 16%;
}
